.form h1 {
  font-size: 30px;
  font-weight: 600;
}

.form .card {
  width: 100%;
  border-radius: 10px;
  background-color: #eeeeee;
}

/* Form  */
.form {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.form {
  padding: 20px;
}

.form label {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='date'],
.form textarea,
.form input[type='number'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.form input[type='submit'] {
  position: absolute;
  right: 20px;
  bottom: -10px;
  background-color: #40a9ff;
  color: white;
  font-size: 16px;
  padding: 8px 42px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form input[type='submit']:hover {
  background-color: #096dd9;
}

.form input[type='button']:hover {
  background-color: #588aff;
}

.form .jk {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.add_riwayat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_riwayat .plus {
  display: block;
  text-align: center;
  font-size: 60px;
  cursor: pointer;
}

.add_riwayat .text {
  font-size: 16px;
  text-align: center;
}

/* Responsive */
@media only screen and (max-width: 500px) {
  .form {
    padding: 10px;
  }
  .form input[type='submit'] {
    padding: 8px 32px;
  }
}

/* Responsive */
@media only screen and (max-width: 400px) {
  .form input[type='submit'] {
    right: 0;
    bottom: -10px;
    font-size: 14px;
    padding: 8px 24px;
  }
}

@media only screen and (max-width: 320px) {
  .form input[type='submit'] {
    padding: 8px 14px;
  }
}
