@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}

@media only screen and (max-width: 500px) {
  body {
    padding: 15px;
  }
}
